@using Resources
@using MessageColumnCaptions
@using mailColumnCaptions


<h1 style="text-align:center;">@MessageColumnCaptions.DynamicPageName("TB_BusinessPartnerRegionHistory")</h1>

<div class="jumbotron" style="text-align: left; margin-bottom: 50px;border-radius:8px;padding: 10px;font-size: 15px;font-weight: 100;line-height: 1.142857;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 col-sm-3" style="display: inline-flex;">
                <label style="width: 100px;margin-top: 6px;">@MessageColumnCaptions.BusinessPartnerRegionID</label>
                <input id="txtBusinessPartnerRegionID" class="form-control" type="text" style="width:100%" />
            </div>
            <div class="col-md-4 col-sm-3" style="display: inline-flex;">
                <label>@Resources.BusinessPartner</label>&nbsp;&nbsp;
                &nbsp;<input type="text" id="drbBusiness" style="width: 100%;" />
            </div>
            </div>
        <br />
        <br />
        <br />
        <div class="col-md-12">
            <div class="col-md-3  col-sm-3" style="padding: 0px;">
                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <label>@MessageColumnCaptions.LogDate (@Resources.FilterLowerLimitDescription)</label>
                </div>
                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <input type="text" id="datetimepickerStart" placeholder="@Resources.DateFieldDescription" style="width: 100%;" />
                </div>

            </div>
            <div class="col-md-3 col-sm-3" style="padding: 0px;">

                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <label>@MessageColumnCaptions.LogDate (@Resources.FilterUpperLimitDescription)</label>
                </div>
                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <input type="text" id="datetimepickerEnd" placeholder="@Resources.DateFieldDescription" style="width: 100%;" />
                </div>

            </div>
            <div class="col-md-3  col-sm-3" style="padding: 10px;">
                <button id="btnfilter" class="btn btn-info" onclick="Filter()">Filter</button>
                <button class="btn btn-info" id="btnClearFilter" onclick="clearFiter()">Clear Filter</button>
            </div>
        </div>
    </div>

</div>

@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.TB_BusinessPartnerRegionHistoryExt>()
                                .Name("TB_BusinessPartnerRegionHistoryExt_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                        //.Create(update => update.Action("_Create", "TB_ChannelManager"))
                                .Read(read => read.Action("_Read", "TB_BusinessPartnerRegionHistory", new { TableID = (int)ViewBag.TableID }))
                                // .Update(update => update.Action("_Update", "TB_ChannelManager"))
                                //.Destroy(destroy => destroy.Action("_Destroy", "TB_ChannelManager"))
        )

                    .Columns(columns =>
                    {                      

                        columns.Bound(p => p.ID).Width(100).Locked(true); //EditorTemplateName (/Shared/EditorTempaltes/ddlCountries) used to Display Dropdown list and it will return Int value to Controller
                        columns.Bound(p => p.BusinessPartnerRegionID).Title(MessageColumnCaptions.TB_BusinessPartnerRegionHistoryCaption("BusinessPartnerRegionID")).Width(200);
                        columns.Bound(p => p.BusinessPartner).Title(MessageColumnCaptions.TB_BusinessPartnerRegionHistoryCaption("BusinessPartnerID")).Width(220);
                        columns.Bound(p => p.Region).Title(MessageColumnCaptions.TB_BusinessPartnerRegionHistoryCaption("RegionID")).Width(350);
                        columns.Bound(p => p.LogDate).Title(MessageColumnCaptions.TB_BusinessPartnerRegionHistoryCaption("LogDateTime")).ClientTemplate("#= kendo.toString(LogDate,'dd/MM/yyyy HH:mm:ss') #").Width(200);
                        columns.Bound(p => p.LogUser).Title(MessageColumnCaptions.TB_BusinessPartnerRegionHistoryCaption("LogUserID")).Width(200);
                    })
                .ToolBar(tool =>
                {
                //    tool.Custom().Name("cmdAddNewRecord")
                //.Text(Resources.NewRecord)
                //.HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
        //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                        .FileName("TB_BusinessPartnerRegionHistoryExt.xlsx")
                .Filterable(true))

)

<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_BusinessPartnerRegionHistoryExt_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>


<script>

    $("#btnfilter").click(function () {
        $filter = new Array();

        $BusinessPartnerRegionID = $("#txtBusinessPartnerRegionID").val();
        $BusinessText = $("#drbBusiness").data("kendoDropDownList").text();
        $BusinessValue = $("#drbBusiness").val();
        $StartDate = $("#datetimepickerStart").data("kendoDatePicker").value();
        $EndDate = $("#datetimepickerEnd").data("kendoDatePicker").value();


        if ($BusinessPartnerRegionID) {
            $filter.push({ field: "BusinessPartnerRegionID", operator: "equals", value: String($BusinessPartnerRegionID) });
        }
        if ($BusinessValue != -1) {
            $filter.push({ field: "BusinessPartner", operator: "contains", value: $BusinessText });
        }
        if ($StartDate) {
            $filter.push({ field: "LogDate", operator: "IsGreaterThanOrEqualTo", value: $StartDate });
        }
        if ($EndDate) {
            $filter.push({ field: "LogDate", operator: "IsLessThanOrEqualTo", value: $EndDate });
        }

        var grid = $("#TB_BusinessPartnerRegionHistoryExt_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);
    });

    var AllSelectText = '@Resources.ListAllExpression'

    $(document).ready(function () {

        $("#datetimepickerStart").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });
        $("#datetimepickerEnd").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });


        var json = {}
        $.ajax({
            type: "GET",
            url: "/BizTbl_UserBusinessPartner/_ReadPart",
            data: json,
            datatype: "json",
            success: function (data) {

                $("#drbBusiness").kendoDropDownList({
                    filter: "contains",
                    Name: "TableID",
                    optionLabel: AllSelectText,
                    dataTextField: "Name",
                    dataValueField: "ID ",
                    // dataValueField: "Name",
                    dataSource: data
                });

            }
        })
    });


    function clearFiter() {
        $("form.k-filter-menu button[type='reset']").trigger("click");
    }

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#TB_BusinessPartnerRegionHistoryExt_Grid").data("kendoGrid").dataSource;
        //Clear Custom filters:
        datasource.filter([]);
        //Clear Fields
        $("#txtBusinessPartnerRegionID").val('')
        //$("#txtPromotionCode").val('');
        //$("#txtGuestName").val('');
        $("#datetimepickerStart").data("kendoDatePicker").value(null);
        $("#datetimepickerEnd").data("kendoDatePicker").value(null);
        var dropdownlistPart = $("#drbBusiness").data("kendoDropDownList");
        dropdownlistPart.select("");
        //document.getElementById('chkStatus').checked = false
    });

</script>













