@using Resources
@using MessageColumnCaptions


<h1 style="text-align:center;">TB_HotelPromotionHistory</h1>


<div class="jumbotron" style="text-align: left; margin-bottom: 50px;border-radius:8px;padding: 10px;font-size: 15px;font-weight: 100;line-height: 1.142857;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 col-sm-6">
                <div class="col-md-4 col-sm-4 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelPromotionHistory("HotelPromotionID")</label>
                </div>
                <div class="col-md-6 col-sm-6 " style="padding: 8px;">
                    <input id="txthotelpromotion" type="text" class="form-control" style="width:100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="col-md-3 col-sm-3 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelPromotionHistory("HotelID")</label>
                </div>
                <div class="col-md-8 col-sm-8 " style="padding: 8px;">
                   <select  id="drphotels" style="width:100%">
                     
                   </select>
                </div>

            </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-5  col-sm-5">
                    <div class="col-md-5  col-sm-5" style="padding: 5px;">
                        <label> @MessageColumnCaptions.TB_HotelPromotionHistory("LogDateTime") (@Resources.FilterLowerLimitDescription)</label>
                    </div>
                    <div class="col-md-7  col-sm-7" style="padding: 5px;">
                        <input type="text" id="datetimepickerStart" placeholder="@Resources.DateFieldDescription" style="width: 100%; height:25px;" />
                    </div>

                </div>
                <div class="col-md-5  col-sm-5">

                    <div class="col-md-5  col-sm-5" style="padding: 5px;">
                        <label>@MessageColumnCaptions.TB_HotelPromotionHistory("LogDateTime")  (@Resources.FilterUpperLimitDescription)</label>
                    </div>
                    <div class="col-md-7  col-sm-7" style="padding: 5px;">
                        <input type="text" id="datetimepickerEnd" placeholder="@Resources.DateFieldDescription" style="width: 100%; height:25px;" />
                    </div>

                </div>

            
            <div class="col-md-4  col-sm-4" style="padding: 10px;">
                <button id="btnfilter" class="btn btn-info" onclick="Filter()">@Resources.Filter</button>
                <button class="btn btn-info" id="btnClearFilter" onclick="clearFiter()">@Resources.RemoveFilter</button>
            </div>
        </div>
    </div>
    </div>

<script>

    $("#btnfilter").click(function () {

        $filter = new Array();
        $hotelpromotion = $("#txthotelpromotion").val();
        $StartDate = $("#datetimepickerStart").data("kendoDatePicker").value();
        $EndDate = $("#datetimepickerEnd").data("kendoDatePicker").value();
        $HotelText = $("#drphotels").data("kendoDropDownList").text();
        $Hotelid = $("#drphotels").val();

        if ($hotelpromotion) {
            $filter.push({ field: "Promotion", operator: "contains", value: String($hotelpromotion) });
        }
        if ($StartDate) {
            $filter.push({ field: "LogDateTime", operator: "IsGreaterThanOrEqualTo", value: $StartDate });
        }
        if ($EndDate) {
            $filter.push({ field: "LogDateTime", operator: "IsLessThanOrEqualTo", value: $EndDate });
        }
        if ($Hotelid) {
            $filter.push({ field: "Hotel", operator: "contains", value: $Hotelid });
        }

        var grid = $("#TB_HotelPromotionHistory_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);
    });

    var AllSelectText = '@Resources.ListAllExpression'

    $(document).ready(function () {


        $("#datetimepickerStart").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });
        $("#datetimepickerEnd").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });


        var json = {}
        $.ajax({
            type: "GET",
            url: "/DropDownLists/GetHotels",
            data: json,
            datatype: "json",
            success: function (data) {

                $("#drphotels").kendoDropDownList({

                    filter: "contains",
                    optionLabel: AllSelectText,
                    dataTextField: "Name",
                    dataValueField: "ID ",
                    dataSource: data
                });

            }
        })
    });



    function clearFiter() {
        $("form.k-filter-menu button[type='reset']").trigger("click");
    }

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#TB_HotelPromotionHistory_Grid").data("kendoGrid").dataSource;
        //Clear Custom filters:
        datasource.filter([]);
        //Clear Fields
        $("#txthotelpromotion").val('')
        $("#datetimepickerStart").data("kendoDatePicker").value(null);
        $("#datetimepickerEnd").data("kendoDatePicker").value(null);
        var dropdownlistPart = $("#drphotels").data("kendoDropDownList");
        dropdownlistPart.select("");
        //document.getElementById('ChkFilterCommon').checked = false
    });

</script>

@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.TB_HotelPromotionHistoryExt>()
                    .Name("TB_HotelPromotionHistory_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                        .Read(read => read.Action("_Read", "TB_HotelPromotionHistory", new { TableID = (int)ViewBag.TableID }))

        )

                .Columns(columns =>
                {


                    columns.Bound(p => p.ID).Width(150);
                    columns.Bound(p => p.HotelPromotionID).Width(200).Title(MessageColumnCaptions.TB_HotelPromotionHistory("HotelPromotionID"));
                    columns.Bound(p => p.Hotel).Width(200).Title(MessageColumnCaptions.TB_HotelPromotionHistory("HotelID"));
                    columns.Bound(p => p.Promotion).Width(250).Title(MessageColumnCaptions.TB_HotelPromotionHistory("PromotionID"));
                    columns.Bound(p => p.StartDate).Width(200).Title(MessageColumnCaptions.TB_HotelPromotionHistory("StartDate"));
                    columns.Bound(p => p.EndDate).Width(250).Title(MessageColumnCaptions.TB_HotelPromotionHistory("EndDate"));
                    columns.Bound(p => p.DayCount).Width(200).Title(MessageColumnCaptions.TB_HotelPromotionHistory("DayCount"));
                    columns.Bound(p => p.DiscountPercentage).Width(250).Title(MessageColumnCaptions.TB_HotelPromotionHistory("DiscountPercentage"));

                    columns.Bound(p => p.Region).Width(250).Title(MessageColumnCaptions.TB_HotelPromotionHistory("Region"));
                    columns.Bound(p => p.ValidForAllRoomTypes).Width(200).ClientTemplate("<div style='text-align:center;'> #if(ValidForAllRoomTypes){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Title(MessageColumnCaptions.TB_HotelPromotionHistory("ValidForAllRoomTypes")); ;
                    columns.Bound(p => p.Active).Width(250).ClientTemplate("<div style='text-align:center;'> #if(Active){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Title(MessageColumnCaptions.TB_HotelPromotionHistory("Active")); ;
                    columns.Bound(p => p.LogDateTime).Width(200).Title(MessageColumnCaptions.TB_HotelPromotionHistory("LogDateTime"));
                    columns.Bound(p => p.Loguser).Width(250).Title(MessageColumnCaptions.TB_HotelPromotionHistory("LogUserID"));
                })
                  .ToolBar(tool =>
                    {
                        tool.Excel().Text(Resources.ExporttoExcel);
                    })
                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                    .FileName("TB_HotelPromotionHistory.xlsx")
                .Filterable(true))

)

<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_HotelPromotionHistory_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>
