@using Resources
@using MessageColumnCaptions



<h1 style="text-align:center;">@MessageColumnCaptions.DynamicPageName("TB_HotelReservation")</h1>

<div class="jumbotron" style="text-align: left; margin-bottom: 50px;border-radius:8px;padding: 10px;font-size: 15px;font-weight: 100;line-height: 1.142857;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4 col-sm-4">
                <div class="col-md-4 col-sm-4 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelReservation("ReservationID")</label>
                </div>
                <div class="col-md-6 col-sm-6 " style="padding: 8px;">
                    <input id="txtreservationid" type="text" class="form-control" style="width:100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="col-md-3 col-sm-3 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelReservation("HotelID")</label>
                </div>
                <div class="col-md-8 col-sm-8 " style="padding: 8px;">
                    <input style="width:100%" id="drphotels" />

                </div>
            </div>
            <div class="col-md-2 col-sm-2">
                <div class="col-md-3 col-sm-3 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelReservation("Active")</label>
                </div>
                <div class="col-md-8 col-sm-8 " style="padding: 8px;">
                   <input type="checkbox" id="chkactive" />
                </div>
            </div>
            <div class="col-md-3  col-sm-3" style="padding: 10px;">
                <button id="btnfilter" class="btn btn-info" onclick="Filter()">@Resources.Filter</button>
                <button class="btn btn-info" id="btnClearFilter" onclick="clearFiter()">@Resources.RemoveFilter</button>
            </div>
        </div>
     
    </div>
</div>

<script>

    $("#btnfilter").click(function () {

        $filter = new Array();
        $Reservationid = $("#txtreservationid").val();
        $Active= "false";
        if ($('#chkactive').prop('checked')) {
            $Active = "true";
        }
        $HotelText = $("#drphotels").data("kendoDropDownList").text();
        $Hotelid = $("#drphotels").val();
        if ($Hotelid) {
            $filter.push({ field: "Hotel", operator: "contains", value: String($HotelText) });
        }
        if ($Reservationid) {
            $filter.push({ field: "ReservationID", operator: "equals", value: $Reservationid });
        }
     
        if ($Active == "true") {
          
            $filter.push({ field: "Active", operator: "eq", value: $Active });
        }
       
     
        var grid = $("#TB_HotelReservation_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);
    });

    var AllSelectText = '@Resources.ListAllExpression'

    $(document).ready(function () {


      


        var json = {}
        $.ajax({
            type: "GET",
            url: "/DropDownLists/GetHotels",
            data: json,
            datatype: "json",
            success: function (data) {

                $("#drphotels").kendoDropDownList({

                    filter: "contains",
                    optionLabel: AllSelectText,
                    dataTextField: "Name",
                    dataValueField: "ID ",
                    dataSource: data
                });

            }
        })
    });



    function clearFiter() {
        $("form.k-filter-menu button[type='reset']").trigger("click");
    }

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#TB_HotelReservation_Grid").data("kendoGrid").dataSource;
        //Clear Custom filters:
        datasource.filter([]);
     
        $("#txtreservationid").val('');
        document.getElementById('chkactive').checked = false


        var dropdownlistPart = $("#drphotels").data("kendoDropDownList");
        dropdownlistPart.select("");
      
    });

</script>

@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.TB_HotelReservationExt>()
                        .Name("TB_HotelReservation_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                        
           .Read(read => read.Action("_Read", "TB_HotelReservation", new { TableID = (int)ViewBag.TableID }))
                       
        )

                .Columns(columns =>
                {


                    columns.Bound(p => p.ID).Width(150);
                    columns.Bound(p => p.ReservationID).Width(200).Title(MessageColumnCaptions.TB_HotelReservation("ReservationID"));
                    columns.Bound(p => p.Hotel).Width(200).Title(MessageColumnCaptions.TB_HotelReservation("HotelID"));
                    columns.Bound(p => p.HotelRoomID).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("HotelRoomID"));
                    columns.Bound(p => p.HotelAccommodation).Width(200).Title(MessageColumnCaptions.TB_HotelReservation("HotelAccommodationTypeID"));
                    columns.Bound(p => p.GuestFullName).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("GuestFullName"));
                    columns.Bound(p => p.PeopleCount).Width(200).Title(MessageColumnCaptions.TB_HotelReservation("PeopleCount"));
                    columns.Bound(p => p.CheckInDate).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("CheckInDate"));
                    columns.Bound(p => p.CheckOutDate).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("CheckOutDate"));
                    columns.Bound(p => p.NightCount).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("NightCount"));
                    columns.Bound(p => p.HotelCancelPolicyID).Width(200).Title(MessageColumnCaptions.TB_HotelReservation("HotelCancelPolicyID"));
                    columns.Bound(p => p.PricePolicy).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("PricePolicyTypeID"));
                    columns.Bound(p => p.NonRefundable).ClientTemplate("<div style='text-align:center;'> #if(NonRefundable){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Width(250).Title(MessageColumnCaptions.TB_HotelReservation("NonRefundable"));
                    columns.Bound(p => p.SingleRate).ClientTemplate("<div style='text-align:center;'> #if(SingleRate){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Width(250).Title(MessageColumnCaptions.TB_HotelReservation("SingleRate"));
                    columns.Bound(p => p.DoubleRate).ClientTemplate("<div style='text-align:center;'> #if(DoubleRate){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Width(250).Title(MessageColumnCaptions.TB_HotelReservation("DoubleRate"));
                    columns.Bound(p => p.Amount).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("Amount"));
                    columns.Bound(p => p.PromotionDiscountPercentage).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("PromotionDiscountPercentage"));
                    columns.Bound(p => p.PayableAmount).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("PayableAmount"));
                    columns.Bound(p => p.Currency).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("CurrencyID"));
                    columns.Bound(p => p.BedOptionNo).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("BedOptionNo"));
                    columns.Bound(p => p.EstimatedArrivalTime).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("EstimatedArrivalTime"));
                    columns.Bound(p => p.TravellerType).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("TravellerTypeID"));
                    columns.Bound(p => p.CancelDateTime).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("CancelDateTime"));
                    columns.Bound(p => p.Status).Width(150).Title(MessageColumnCaptions.TB_HotelReservation("StatusID"));
                    columns.Bound(p => p.ReservationOperation).Width(250).Title(MessageColumnCaptions.TB_HotelReservation("ReservationOperationID"));
                    columns.Bound(p => p.Active).Width(150).ClientTemplate("<div style='text-align:center;'> #if(Active){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>").Title(MessageColumnCaptions.TB_HotelReservation("Active")); ;
                    
                })
                .ToolBar(tool =>
                {
                   // tool.Custom().Name("cmdAddNewRecord")
                   //.Text(Resources.NewRecord)
                   //.HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
        //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                        .FileName("TB_HotelReservation.xlsx")
                .Filterable(true))

)

<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_HotelPromotionHistory_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>
