@using Resources
@using MessageColumnCaptions



<h1 style="text-align:center;">@MessageColumnCaptions.DynamicPageName("TB_HotelRoomBed")</h1>

<div class="jumbotron" style="text-align: left; margin-bottom: 50px;border-radius:8px;padding: 10px;font-size: 15px;font-weight: 100;line-height: 1.142857;">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3 col-sm-3">
                <div class="col-md-4 col-sm-4 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelRoomBed("HotelRoomID")</label>
                </div>
                <div class="col-md-8 col-sm-8 " style="padding: 8px;">
                    <input id="txtroomid" class="form-control" />
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="col-md-4 col-sm-4 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelRoomBed("OptionNo")</label>
                </div>
                <div class="col-md-7 col-sm-7 " style="padding: 8px;">
                    <input id="txtoption" class="form-control" />
                  
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="col-md-5 col-sm-5 " style="padding: 8px;">
                    <label>@MessageColumnCaptions.TB_HotelRoomBed("BedTypeID")</label>
                </div>
                <div class="col-md-7 col-sm-7 " style="padding: 8px;">
                    <input style="width:100%" id="drpbedtype" />

                </div>
            </div>
        

            <div class="col-md-2  col-sm-2" style="padding: 10px;">
                <button id="btnfilter" class="btn btn-info" onclick="Filter()">@Resources.Filter</button>
                <button class="btn btn-info" id="btnClearFilter" onclick="clearFiter()">@Resources.RemoveFilter</button>
            </div>
        </div>

    </div>
</div>

<script>

    $("#btnfilter").click(function () {

        $filter = new Array();
        $hotelreservationid = $("#txthotelreservationid").val();
        $Active = "false";
        if ($('#chkactive').prop('checked')) {
            $Active = "true";
        }
        $dateText = $("#drpdate").data("kendoDropDownList").text();
        $dateid = $("#drpdate").val();
        if ($dateid) {
            $filter.push({ field: "Date", operator: "contains", value: String($dateText) });
        }
        if ($hotelreservationid) {
            $filter.push({ field: "HotelReservationID", operator: "equals", value: $Reservationid });
        }

        if ($Active == "true") {

            $filter.push({ field: "Active", operator: "eq", value: $Active });
        }


        var grid = $("#TB_HotelRoomBed_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);
    });


    var AllSelectText = '@Resources.ListAllExpression'

    $(document).ready(function () {
        var json = {}
        $.ajax({
            type: "GET",
            url: "/DropDownLists/GetBedType",
            data: json,
            datatype: "json",
            success: function (data) {

                $("#drpbedtype").kendoDropDownList({

                    filter: "contains",
                    optionLabel: AllSelectText,
                    dataTextField: "BedType",
                    dataValueField: "BedTypeID ",
                    dataSource: data
                });

            }
        })
    });



    function clearFiter() {
        $("form.k-filter-menu button[type='reset']").trigger("click");
    }

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#TB_HotelRoomBed_Grid").data("kendoGrid").dataSource;
        //Clear Custom filters:
        datasource.filter([]);

        $("#txthotelreservationid").val('');
        document.getElementById('chkactive').checked = false

    });
    function RefreshGrid(e) {
        this.read();
    }
</script>

@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.TB_HotelRoomBedExt>()
                                    .Name("TB_HotelRoomBed_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
               .Events(events => events.Error("onError").Sync("RefreshGrid"))
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                 .Create(update => update.Action("_Create", "TB_HotelRoomBed"))
                                            .Read(read => read.Action("_Read", "TB_HotelRoomBed", new { TableID = (int)ViewBag.TableID }))
                                            .Update(update => update.Action("_Update", "TB_HotelRoomBed"))
                                            .Destroy(destroy => destroy.Action("_Destroy", "TB_HotelRoomBed"))


        )

                .Columns(columns =>
                {
                    columns.Command(

                      command =>
                      {
                          command.Edit().UpdateText(Resources.Update).CancelText(Resources.Cancel).Text(Resources.Edit);
                          command.Destroy().Text(Resources.Delete);
                      }).Locked(true).Width(180);

                    columns.Bound(p => p.ID).Width(150);
                    columns.Bound(p => p.OptionNo).Width(200).Title(MessageColumnCaptions.TB_HotelRoomBed("OptionNo"));
                    columns.Bound(p => p.HotelRoomID).Width(200).Title(MessageColumnCaptions.TB_HotelRoomBed("HotelRoomID")).EditorTemplateName("ddlHotelRoomID").Width(350);
                    columns.Bound(p => p.BedType).Width(250).Title(MessageColumnCaptions.TB_HotelRoomBed("BedTypeID")).EditorTemplateName("ddlBedType").Width(350);
                    columns.Bound(p => p.Count).Width(250).Title(MessageColumnCaptions.TB_HotelRoomBed("Count"));
                  


                })
                .ToolBar(tool =>
                {
                    tool.Custom().Name("cmdAddNewRecord")
                   .Text(Resources.NewRecord)
                   .HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
        //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                        .FileName("TB_HotelRoomBed.xlsx")
                .Filterable(true))

)

<script id="AddNewRecord">

    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_HotelRoomBed_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>
