@using Resources
@using MessageColumnCaptions


<h1 style="color: black; text-align:center">@MessageColumnCaptions.DynamicPageName("TB_Transfer")</h1>
<div class="jumbotron" style="text-align: left; margin-bottom: 50px;border-radius:8px;padding: 10px;font-size: 15px;font-weight: 100;line-height: 1.142857;">
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="col-md-2  col-sm-2">
            <label> @MessageColumnCaptions.TB_TransferCaption("Active")</label> &nbsp;<input id="ChkFilterCommon" name="ChkFilterCommon" type="checkbox" />
        </div>
        <div class="col-md-4  col-sm-4">
            <button id="btnfilter" class="btn btn-info" onclick="Filter()">@Resources.Filter</button>
            <button class="btn btn-info" id="btnClearFilter" onclick="clearFiter()">@Resources.RemoveFilter</button>
        </div>
    </div>
</div>

<script>
    $("#btnfilter").click(function () {
        $filter = new Array();
        $Active = "false";
        if ($('#ChkFilterCommon').prop('checked')) {
            $Active = "true";
        }

        if ($Active == "true") {
            //alert($Commom)
            $filter.push({ field: "Active", operator: "eq", value: $Active });
        }
        var grid = $("#TB_Transfer_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);

    });

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#TB_Transfer_Grid").data("kendoGrid").dataSource;
        //Clear Custom filters:
        datasource.filter([]);
        //Clear Fields
        document.getElementById('ChkFilterCommon').checked = false
    });

    function RefreshGrid(e) {
        this.read();
    }
</script>


@(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.TB_TransferExt>()
                .Name("TB_Transfer_Grid")
        //.Events(events => events.Edit("onChange"))
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(25)
            .Events(events => events.Error("onError").Sync("RefreshGrid"))
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
            model.Field(p => p.ID).Editable(false);
        })
                                .Create(update => update.Action("_Create", "TB_Transfer"))
                                .Read(read => read.Action("_Read", "TB_Transfer", new { TableID = (int)ViewBag.TableID }))
                                .Destroy(destroy => destroy.Action("_Destroy", "TB_Transfer"))
                                .Update(update => update.Action("_Update", "TB_Transfer"))

        )


            .Columns(columns =>
            {
                columns.Command(
                 command =>
                 {
                     command.Edit().UpdateText(Resources.Update).CancelText(Resources.Cancel).Text(Resources.Edit);
                     command.Destroy().Text(Resources.Delete);
                 }).Locked(true).Width(180);

                columns.Bound(p => p.ID).Title("ID").Width(50).Locked(true);
                columns.Bound(p => p.BusinessPartnerName).Title(MessageColumnCaptions.TB_TransferCaption("BusinessPartnerID")).EditorTemplateName("ddlBusinessPartner").Width(150);
                columns.Bound(p => p.TransferPeriodName).Title(MessageColumnCaptions.TB_TransferCaption("TransferPeriodID")).EditorTemplateName("ddlGetTransferPeriod").Width(150);
                columns.Bound(p => p.TransferPaxName).Title(MessageColumnCaptions.TB_TransferCaption("TransferPaxID")).EditorTemplateName("ddlBusinessPartnerPax").Width(150);
                columns.Bound(p => p.DepartureRegionName).Title(MessageColumnCaptions.TB_TransferCaption("DepartureRegionID")).EditorTemplateName("ddlGetDepartureRegion").Width(150);
                columns.Bound(p => p.DestinationRegionName).Title(MessageColumnCaptions.TB_TransferCaption("DestinationRegionID")).EditorTemplateName("ddlGetDestinationRegion").Width(150);
                columns.Bound(p => p.Amount).Title(MessageColumnCaptions.TB_TransferCaption("Amount")).Width(150);
                columns.Bound(p => p.Currency).Title(MessageColumnCaptions.TB_TransferCaption("CurrencyID")).EditorTemplateName("ddlCurrencies").Width(150);
                columns.Bound(p => p.Cost).Title(MessageColumnCaptions.TB_TransferCaption("Cost")).Width(150);
                columns.Bound(p => p.CostCurrencyName).Title(MessageColumnCaptions.TB_TransferCaption("CostCurrencyID")).EditorTemplateName("ddlGetCostCurrencies").Width(150);
                columns.Bound(p => p.Deposit).Title(MessageColumnCaptions.TB_TransferCaption("Deposit")).Width(150);
                columns.Bound(p => p.DepositCurrencyName).Title(MessageColumnCaptions.TB_TransferCaption("DepositCurrencyID")).EditorTemplateName("ddlGetDepositCurrency").Width(150);
                columns.Bound(p => p.HitCount).Title(MessageColumnCaptions.TB_TransferCaption("HitCount")).Width(150);
                columns.Bound(p => p.Active).Title(MessageColumnCaptions.TB_TransferCaption("Active"))
                .ClientTemplate("<div style='text-align:center;'> #if(Active){# <img src='/Images/checked.gif' alt='checked'> #} else {# <img src='/Images/red_cross.png' alt='redCross'> #}# </div>")
                .Width(100);
            })
                .ToolBar(tool =>
                {
                    tool.Custom().Name("cmdAddNewRecord")
                   .Text(Resources.NewRecord)
                   .HtmlAttributes(new { @id = "cmdAddNewRecord" });
                    tool.Excel().Text(Resources.ExporttoExcel);
                })
                .Editable(editable => editable.Mode(GridEditMode.InLine))
                    .Scrollable(scrollable => scrollable.Height(430))
        //.Scrollable().HtmlAttributes(new { @style = "width:1200px;" })

                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                            .FileName("TB_Transfer.xlsx")
                .Filterable(true))

)


<script id="AddNewRecord">



    $("#cmdAddNewRecord").click(function (e) {

        var table = $("#TB_Transfer_Grid").data("kendoGrid");
        var sorting = table.dataSource.sort();

        if (sorting) {
            table.dataSource.sort(null);
        }
        table.addRow();
        e.preventDefault();
        //put custom logic here
    });
</script>
