@using Resources

@*<style>
   .page-container.horizontal-menu header.navbar .navbar-brand{
        padding: 10px;
    }
</style>
<header class="navbar navbar-fixed-top">
    <!-- set fixed position by adding class "navbar-fixed-top" -->

    <div class="navbar-inner">

        <div class="navbar-brand">
            <!-- logo -->
            <div class="logo">
                <a href="index.html">
                    <img src="/Images/logo_gbs.png" style="width:170px; height:25px;" alt="" />
                </a>
            </div>
            <!-- logo collapse icon -->
            <div class="sidebar-collapse">
                <a href="#" class="sidebar-collapse-icon">
                    <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
                    <i class="entypo-menu"></i>
                </a>
            </div>

            <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
            <div class="sidebar-mobile-menu visible-xs">
                <a href="#" class="with-animation">
                    <!-- add class "with-animation" to support animation -->
                    <i class="entypo-menu"></i>
                </a>
            </div>
        </div>

        <!-- logo -->
     


        <!-- main menu -->

        <ul class="navbar-nav">
            <li>
                <a href="/">
                    <i class="entypo-home"></i>
                    <span class="title">Home</span>
                </a>
                
            </li>
            <li class="opened active">
                <a href="#">
                    <i class="entypo-monitor"></i>
                    <span class="title">Maintenance</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="/Maintenance/Countries">
                            <span class="title">Countries</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Region">
                            <span class="title">Region</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Parameter">
                            <span class="title">Parameter</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Authorization">
                            <span class="title">Authorization</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Tables">
                            <span class="title">Tables</span>
                        </a>
                    </li>

                    <li class="active">
                        <a href="/Maintenance/HotelSearchParameter">
                            <span class="title">Hotel Search Parameter</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-chart-area"></i>
                    <span class="title">Statistics</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="#">
                            <span class="title">User History</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/DailyStatistics">
                            <span class="title">Daily Statistics</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span class="title">Find the best Deal</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-chat"></i>
                    <span class="title">Communications</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="/Maintenance/EMails">
                            <span class="title">EMails</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span class="title">Firm Requests</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span class="title">User Messages</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Message">
                            <span class="title">Message</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span class="title">Reviews</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-gauge"></i>
                    <span class="title">Management</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="/Management/PropertyOperations">
                            <span class="title">Property Operations</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/Firms">
                            <span class="title">Firms Operations</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/Maintenance/UserOperation">
                            <span class="title">User Operation</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="entypo-rocket"></i>
                    <span class="title">Reservations</span>
                </a>
                <ul>
                    <li class="active">
                        <a href="#">
                            <span class="title">Reservations</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            <span class="title">Property Reservations</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="/">
                    <i class="entypo-ticket"></i>
                    <span class="title">Finance</span>
                </a>
                </li>

            <li>
                <a href="/Maintenance/Bank">
                    <i class="entypo-basket"></i>
                    <span class="title">Bank</span>
                </a>
            </li>

            <li>
                <a href="/Maintenance/Invoice">
                    <i class="entypo-install"></i>
                    <span class="title">Invoices</span>
                </a>
            </li>
</ul>


        <!-- notifications and other links -->
        <ul class="nav navbar-right pull-right">

            <!-- dropdowns -->
            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="entypo-list"></i>
                    <span class="badge badge-info">6</span>
                </a>

                <!-- dropdown menu (tasks) -->
                <ul class="dropdown-menu">
                    <li class="top">
                        <p>You have 6 pending tasks</p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller">
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">Procurement</span>
                                        <span class="percent">27%</span>
                                    </span>

                                    <span class="progress">
                                        <span style="width: 27%;" class="progress-bar progress-bar-success">
                                            <span class="sr-only">27% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">App Development</span>
                                        <span class="percent">83%</span>
                                    </span>

                                    <span class="progress progress-striped">
                                        <span style="width: 83%;" class="progress-bar progress-bar-danger">
                                            <span class="sr-only">83% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">HTML Slicing</span>
                                        <span class="percent">91%</span>
                                    </span>

                                    <span class="progress">
                                        <span style="width: 91%;" class="progress-bar progress-bar-success">
                                            <span class="sr-only">91% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">Database Repair</span>
                                        <span class="percent">12%</span>
                                    </span>

                                    <span class="progress progress-striped">
                                        <span style="width: 12%;" class="progress-bar progress-bar-warning">
                                            <span class="sr-only">12% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">Backup Create Progress</span>
                                        <span class="percent">54%</span>
                                    </span>

                                    <span class="progress progress-striped">
                                        <span style="width: 54%;" class="progress-bar progress-bar-info">
                                            <span class="sr-only">54% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="task">
                                        <span class="desc">Upgrade Progress</span>
                                        <span class="percent">17%</span>
                                    </span>

                                    <span class="progress progress-striped">
                                        <span style="width: 17%;" class="progress-bar progress-bar-important">
                                            <span class="sr-only">17% Complete</span>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="external">
                        <a href="#">See all tasks</a>
                    </li>
                </ul>

            </li>

            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="entypo-mail"></i>
                    <span class="badge badge-secondary">10</span>
                </a>

                <!-- dropdown menu (messages) -->
                <ul class="dropdown-menu">
                    <li>
                        <form class="top-dropdown-search">

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search anything..." name="s" />
                            </div>

                        </form>

                        <ul class="dropdown-menu-list scroller">
                            <li class="active">
                                <a href="#">
                                    <span class="image pull-right">
                                        <img src="assets/images/thumb-1.png" alt="" class="img-circle" />
                                    </span>

                                    <span class="line">
                                        <strong>Luc Chartier</strong>
                                        - yesterday
                                    </span>

                                    <span class="line desc small">
                                        This ain’t our first item, it is the best of the rest.
                                    </span>
                                </a>
                            </li>

                            <li class="active">
                                <a href="#">
                                    <span class="image pull-right">
                                        <img src="assets/images/thumb-1.png" alt="" class="img-circle" />
                                    </span>

                                    <span class="line">
                                        <strong>Salma Nyberg</strong>
                                        - 2 days ago
                                    </span>

                                    <span class="line desc small">
                                        Oh he decisively impression attachment friendship so if everything.
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span class="image pull-right">
                                        <img src="assets/images/thumb-1.png" alt="" class="img-circle" />
                                    </span>

                                    <span class="line">
                                        Hayden Cartwright
                                        - a week ago
                                    </span>

                                    <span class="line desc small">
                                        Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                                    </span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <span class="image pull-right">
                                        <img src="assets/images/thumb-1.png" alt="" class="img-circle" />
                                    </span>

                                    <span class="line">
                                        Sandra Eberhardt
                                        - 16 days ago
                                    </span>

                                    <span class="line desc small">
                                        On so attention necessary at by provision otherwise existence direction.
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="external">
                        <a href="mailbox.html">All Messages</a>
                    </li>
                </ul>

            </li>

            <li class="dropdown">

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <i class="entypo-globe"></i>
                    <span class="badge badge-warning">1</span>
                </a>

                <!-- dropdown menu (messages) -->
                <ul class="dropdown-menu">
                    <li class="top">
                        <p class="small">
                            <a href="#" class="pull-right">Mark all Read</a>
                            You have <strong>3</strong> new notifications.
                        </p>
                    </li>
                    <li>
                        <ul class="dropdown-menu-list scroller">
                            <li class="unread notification-success">
                                <a href="#">
                                    <i class="entypo-user-add pull-right"></i>

                                    <span class="line">
                                        <strong>New user registered</strong>
                                    </span>

                                    <span class="line small">
                                        30 seconds ago
                                    </span>
                                </a>
                            </li>

                            <li class="unread notification-secondary">
                                <a href="#">
                                    <i class="entypo-heart pull-right"></i>

                                    <span class="line">
                                        <strong>Someone special liked this</strong>
                                    </span>

                                    <span class="line small">
                                        2 minutes ago
                                    </span>
                                </a>
                            </li>

                            <li class="notification-primary">
                                <a href="#">
                                    <i class="entypo-user pull-right"></i>

                                    <span class="line">
                                        <strong>Privacy settings have been changed</strong>
                                    </span>

                                    <span class="line small">
                                        3 hours ago
                                    </span>
                                </a>
                            </li>

                            <li class="notification-danger">
                                <a href="#">
                                    <i class="entypo-cancel-circled pull-right"></i>

                                    <span class="line">
                                        John cancelled the event
                                    </span>

                                    <span class="line small">
                                        9 hours ago
                                    </span>
                                </a>
                            </li>

                            <li class="notification-info">
                                <a href="#">
                                    <i class="entypo-info pull-right"></i>

                                    <span class="line">
                                        The server is status is stable
                                    </span>

                                    <span class="line small">
                                        yesterday at 10:30am
                                    </span>
                                </a>
                            </li>

                            <li class="notification-warning">
                                <a href="#">
                                    <i class="entypo-rss pull-right"></i>

                                    <span class="line">
                                        New comments waiting approval
                                    </span>

                                    <span class="line small">
                                        last week
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="external">
                        <a href="#">View all notifications</a>
                    </li>
                </ul>

            </li>

            <!-- raw links -->
            <li class="dropdown">
            <li>
                <a href="#">Live Site</a>
            </li>
            </li>

            <li class="sep"></li>

            <li>
                <a href="extra-login.html">
                    Log Out <i class="entypo-logout right"></i>
                </a>
            </li>


            <!-- mobile only -->
            <li class="visible-xs">

                <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
                <div class="horizontal-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <!-- add class "with-animation" to support animation -->
                        <i class="entypo-menu"></i>
                    </a>
                </div>

            </li>

        </ul>

    </div>

</header>*@

<header class="logo-env">
    <!-- logo -->
    <div class="logo">
        <a href="/Home/Index">
            <img src="/Images/logo_gbs.png" width="170" alt="" />
        </a>
    </div>
    <!-- logo collapse icon -->
    <div class="sidebar-collapse">
        <a href="#" class="sidebar-collapse-icon">
            <!-- add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition -->
            <i class="entypo-menu"></i>
        </a>
    </div>

    <!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
    <div class="sidebar-mobile-menu visible-xs">
        <a href="#" class="with-animation">
            <!-- add class "with-animation" to support animation -->
            <i class="entypo-menu"></i>
        </a>
    </div>
</header>


<ul id="main-menu" class="main-menu">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
    @*@if (Convert.ToString(ViewBag.ActiveMenu) == "Home")
        {*@
    <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Home") { <text> class="active opened active" </text>   }>
        <a href="/">
            <i class="entypo-home"></i>
            <span class="title">@Resources.Home</span>
        </a>
    </li>
    @*}*@

    @if (Convert.ToBoolean(ViewBag.IsAdmin) == true)
    {

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Configurations") { <text> class="active opened active" </text>     }>
            <a href="#">
                <i class="entypo-monitor"></i>
                <span class="title">@Resources.Maintenance</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/Maintenance/Countries">
                        <span class="title">@Resources.Countries</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Region">
                        <span class="title">@Resources.Region</span>
                    </a>
                </li>

                <li class="active">
                    <a href="/Maintenance/UserOperation">
                        <span class="title">@Resources.UserOperations</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Parameter">
                        <span class="title">@Resources.Parameters</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Authorization">
                        <span class="title">@Resources.Authorization</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Tables">
                        <span class="title">@Resources.Tables</span>
                    </a>
                </li>

            </ul>
        </li>

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Statistics") { <text> class="active opened active" </text>     }>
            <a href="#">
                <i class="entypo-chart-area"></i>
                <span class="title">@Resources.Statistics</span>
            </a>
            <ul>
                @*<li class="active">
                    <a href="#">
                        <span class="title">@Resources.UserHistory</span>
                    </a>
                </li>*@
                <li class="active">
                    <a href="/Maintenance/DailyStatistics">
                        <span class="title">@Resources.DailyHitCounts</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/HotelSearchParameter">
                        <span class="title">@Resources.HotelSearch</span>
                    </a>
                </li>
            </ul>
        </li>

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Communications") { <text> class="active opened active" </text>      }>
            <a href="#">
                <i class="entypo-chat"></i>
                <span class="title">@Resources.Communications</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/Maintenance/EMails">
                        <span class="title">@Resources.Emails</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Management/FirmRequests">
                        <span class="title">@Resources.FirmRequests</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Management/UserMessages">
                        <span class="title">@Resources.UserMessages</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Message">
                        <span class="title">@Resources.Messages</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Management/Reviews">
                        <span class="title">@Resources.Reviews</span>
                    </a>
                </li>
                @*<li class="active">
                        <a href="/Maintenance/Invoice">
                            <span class="title">@Resources.Invoices</span>
                        </a>
                    </li>*@


            </ul>
        </li>

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Management") { <text> class="active opened active" </text>     }>
            <a href="#">
                <i class="entypo-gauge"></i>
                <span class="title">@Resources.Management</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/Management/PropertyOperations">
                        <span class="title">@Resources.HotelOperations</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Management/FirmOperations">
                        <span class="title">@Resources.FirmOperations</span>
                    </a>
                </li>
                <li class="active">
                    @*<a href="/Maintenance/UserOperation">*@
                    <a href="/Management/UserOperations">
                        <span class="title">@Resources.UserOperations</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Bank">
                        <span class="title">@Resources.BankName</span>
                    </a>
                </li>
                <li class="active">
                    @*<a href="/Maintenance/UserOperation">*@
                    <a href="/Maintenance/Invoice?mtid=10">
                        <span class="title">@Resources.Invoices</span>
                    </a>
                </li>

            </ul>
        </li>



        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Reservations") { <text> class="active opened active" </text>      }>
            <a href="#">
                <i class="entypo-rocket"></i>
                <span class="title">@Resources.Reservation</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/Reservation/Reservations">
                        <span class="title">@Resources.Reservations</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Reservation/PropertyReservations">
                        <span class="title">@Resources.PropertyReservations</span>
                    </a>
                </li>
            </ul>
        </li>
    }


    @if ((Convert.ToBoolean(ViewBag.IsAdmin) == true || Convert.ToBoolean(ViewBag.IsHotelAdmin) == true) && Convert.ToInt32(ViewBag.HotelID) > 0)
    {
        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Property") { <text> class="active opened active" </text>       }>
            <a href="#">
                <i class="entypo-rocket"></i>
                <span class="title">@Resources.Property</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/PropertyInformation/PropertyInformation">
                        <span class="title">@Resources.PropertyInfo</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/PropertyFacilities/PropertyFacilities">
                        <span class="title">@Resources.HotelFacilities</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/PropertyCondition/PropertyCondition">
                        <span class="title">@Resources.HotelConditions</span>
                    </a>
                </li>
                <li class="active">
                    @*/PropertyCancelPolicy/PropertyCancelPolicy*@
                    <a href="/PropertyCancelPolicy/PropertyCancelPolicy">
                        <span class="title">@Resources.CancelPolicy</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/PropertyRooms/PropertyRooms">
                        <span class="title">@Resources.HotelRooms</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/PropertyPhotos/PropertyPhotos">
                        <span class="title">@Resources.Photos</span>
                    </a>
                </li>
                <li class="active">
                    @*PropertyStatistics/PropertyStatistics*@
                    <a href="/PropertyStatistics/PropertyStatistics">
                        <span class="title">@Resources.Statistics</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/PropertyReviews/PropertyReviews">
                        <span class="title">@Resources.Reviews</span>
                    </a>
                </li>
                <li class="active">
                    <a onclick="RedirectToProperty()" style="cursor:pointer">
                        <span class="title">@Resources.PropertyPage</span>
                    </a>
                </li>
                <li class="active">
                    <a href="#">
                        <span class="title">@Resources.ChannelManager</span>
                    </a>
                </li>
            </ul>
        </li>

         <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Reservations_P"){ <text> class="active opened active" </text>     }>
        <a href="/Reservation/PropertyReservations?mtid=3">
            <i class="entypo-ticket"></i>
            <span class="title">@Resources.Reservations</span>
        </a>

   </li>
        
        
        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Rate & Availability") { <text> class="active opened active" </text>     }>
            <a href="/HotelRateAndAvailability/HotelRateAndAvailability">
                <i class="entypo-ticket"></i>
                <span class="title">@Resources.RateAndAvailability</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/HotelRateAndAvailability/HotelRateAndAvailability">
                        <span class="title">@Resources.HotelRateAvailability</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/RoomRateAndAvailability/RoomRateAndAvailability">
                        <span class="title">@Resources.RateAndAvailability</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/RoomRate/RoomRate">
                        <span class="title">@Resources.RoomRate</span>
                    </a>
                </li>

                <li class="active">
                    <a href="/RoomAvailability/RoomAvailability">
                        <span class="title">@Resources.RoomAvailability</span>
                    </a>
                </li>


            </ul>
        </li>

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Promotions") { <text> class="active opened active" </text>      }>
            <a href="/Promotions/Promotions">
                <i class="entypo-ticket"></i>
                <span class="title">@Resources.Promotions</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/Promotions/NewPromotion">
                        <span class="title">@Resources.NewPromotion</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Promotions/Promotions">
                        <span class="title">@Resources.Promotions</span>
                    </a>
                </li>

            </ul>
        </li>

        <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Finance") { <text> class="active opened active" </text>     }>
            <a href="/FirmInformation/FirmInformation">
                <i class="entypo-ticket"></i>
                <span class="title">@Resources.Finance</span>
            </a>
            <ul>
                <li class="active">
                    <a href="/FirmInformation/FirmInformation">
                        <span class="title">@Resources.FirmInfo</span>
                    </a>
                </li>
                <li class="active">
                    <a href="/Maintenance/Invoice?mtid=7">
                        <span class=" title">@Resources.Invoices</span>
                    </a>
        </li>
    </ul>
    </li>


    <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Setting") { <text> class="active opened active" </text>     }>
        <a href="/">
            <i class="entypo-ticket"></i>
            <span class="title">@Resources.Settings</span>
        </a>
        <ul>
            <li class="active">
                <a href="/SystemConfiguration/SystemConfiguration">
                    <span class="title">@Resources.SystemConfiguration</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="active">
                <a href="/PropertyComission/PropertyComission">
                    <span class="title">@Resources.HotelComission</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="active">
                <a href="/ChangePassword/ChangePassword">
                    <span class="title">@Resources.ChangePassword</span>
                </a>
            </li>
        </ul>
    </li>
    <li @if (Convert.ToString(ViewBag.ActiveMenu) == "ContactUs"){ <text> class="active" </text>     }>
        <a href="/ContactUs/ContactUs">
            <i class="entypo-basket"></i>
            <span class="title">@Resources.ContactUs</span>
        </a>
    </li>
    }
    
@*@if (Convert.ToBoolean(ViewBag.IsAdmin) == true)
{
    <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Bank") { <text> class="active" </text>    }>
        <a href="/Maintenance/Bank">
            <i class="entypo-basket"></i>
            <span class="title">@Resources.BankName</span>
        </a>
    </li>
    <li @if (Convert.ToString(ViewBag.ActiveMenu) == "Invoice") { <text> class="active" </text>     }>
        <a href="/Maintenance/Invoice">
            <i class="entypo-install"></i>
            <span class="title">@Resources.Invoices</span>
        </a>
    </li>

}*@

    @*<li>
        <a href="index.html">
            <i class="entypo-gauge"></i>
            <span class="title">Dashboard</span>
        </a>
        <ul>
            <li class="active">
                <a href="index.html">
                    <span class="title">Dashboard 1</span>
                </a>
            </li>
            <li>
                <a href="dashboard-2.html">
                    <span class="title">Dashboard 2</span>
                </a>
            </li>
            <li>
                <a href="dashboard-3.html">
                    <span class="title">Dashboard 3</span>
                </a>
            </li>
            <li>
                <a href="skin-black.html">
                    <span class="title">Skins</span>
                </a>
                <ul>
                    <li>
                        <a href="skin-black.html">
                            <span class="title">Black Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-white.html">
                            <span class="title">White Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-purple.html">
                            <span class="title">Purple Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-cafe.html">
                            <span class="title">Cafe Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-red.html">
                            <span class="title">Red Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-green.html">
                            <span class="title">Green Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-yellow.html">
                            <span class="title">Yellow Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-blue.html">
                            <span class="title">Blue Skin</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-facebook.html">
                            <span class="title">Facebook Skin</span>
                            <span class="badge badge-secondary badge-roundless">New</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="highlights.html">
                    <span class="title">What's New</span>
                    <span class="badge badge-success badge-roundless">v1.8</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="layout-api.html">
            <i class="entypo-layout"></i>
            <span class="title">Layouts</span>
        </a>
        <ul>
            <li>
                <a href="layout-api.html">
                    <span class="title">Layout API</span>
                </a>
            </li>
            <li>
                <a href="layout-collapsed-sidebar.html">
                    <span class="title">Collapsed Sidebar</span>
                </a>
            </li>
            <li>
                <a href="layout-fixed-sidebar.html">
                    <span class="title">Fixed Sidebar</span>
                </a>
            </li>
            <li>
                <a href="layout-chat-open.html">
                    <span class="title">Chat Open</span>
                </a>
            </li>
            <li>
                <a href="layout-horizontal-menu-boxed.html">
                    <span class="title">Horizontal Menu Boxed</span>
                </a>
            </li>
            <li>
                <a href="layout-horizontal-menu-fluid.html">
                    <span class="title">Horizontal Menu Fluid</span>
                </a>
            </li>
            <li>
                <a href="layout-mixed-menus.html">
                    <span class="title">Mixed Menus</span>
                </a>
            </li>
            <li>
                <a href="layout-right-sidebar.html">
                    <span class="title">Right Sidebar</span>
                </a>
            </li>
            <li>
                <a href="layout-both-menus-right-sidebar.html">
                    <span class="title">Both Menus (Right Sidebar)</span>
                </a>
            </li>
            <li>
                <a href="layout-page-transition-fade.html">
                    <span class="title">Page Enter Transitions</span>
                </a>
                <ul>
                    <li>
                        <a href="layout-page-transition-fade.html">
                            <span class="title">Fade Scale</span>
                        </a>
                    </li>
                    <li>
                        <a href="layout-page-transition-left-in.html">
                            <span class="title">Left In</span>
                        </a>
                    </li>
                    <li>
                        <a href="layout-page-transition-right-in.html">
                            <span class="title">Right In</span>
                        </a>
                    </li>
                    <li>
                        <a href="layout-page-transition-fade-only.html">
                            <span class="title">Fade Only</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="layout-boxed.html">
                    <span class="title">Boxed Layout</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="index.html" target="_blank">
            <i class="entypo-monitor"></i>
            <span class="title">Frontend</span>
        </a>
    </li>
    <li>
        <a href="ui-panels.html">
            <i class="entypo-newspaper"></i>
            <span class="title">UI Elements</span>
        </a>
        <ul>
            <li>
                <a href="ui-panels.html">
                    <span class="title">Panels</span>
                </a>
            </li>
            <li>
                <a href="ui-tiles.html">
                    <span class="title">Tiles</span>
                </a>
            </li>
            <li>
                <a href="forms-buttons.html">
                    <span class="title">Buttons</span>
                </a>
            </li>
            <li>
                <a href="ui-typography.html">
                    <span class="title">Typography</span>
                </a>
            </li>
            <li>
                <a href="ui-tabs-accordions.html">
                    <span class="title">Tabs &amp; Accordions</span>
                </a>
            </li>
            <li>
                <a href="ui-tooltips-popovers.html">
                    <span class="title">Tooltips &amp; Popovers</span>
                </a>
            </li>
            <li>
                <a href="ui-navbars.html">
                    <span class="title">Navbars</span>
                </a>
            </li>
            <li>
                <a href="ui-breadcrumbs.html">
                    <span class="title">Breadcrumbs</span>
                </a>
            </li>
            <li>
                <a href="ui-badges-labels.html">
                    <span class="title">Badges &amp; Labels</span>
                </a>
            </li>
            <li>
                <a href="ui-progress-bars.html">
                    <span class="title">Progress Bars</span>
                </a>
            </li>
            <li>
                <a href="ui-modals.html">
                    <span class="title">Modals</span>
                </a>
            </li>
            <li>
                <a href="ui-blockquotes.html">
                    <span class="title">Blockquotes</span>
                </a>
            </li>
            <li>
                <a href="ui-alerts.html">
                    <span class="title">Alerts</span>
                </a>
            </li>
            <li>
                <a href="ui-pagination.html">
                    <span class="title">Pagination</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="mailbox.html">
            <i class="entypo-mail"></i>
            <span class="title">Mailbox</span>
            <span class="badge badge-secondary">8</span>
        </a>
        <ul>
            <li>
                <a href="mailbox.html">
                    <i class="entypo-inbox"></i>
                    <span class="title">Inbox</span>
                </a>
            </li>
            <li>
                <a href="mailbox-compose.html">
                    <i class="entypo-pencil"></i>
                    <span class="title">Compose Message</span>
                </a>
            </li>
            <li>
                <a href="mailbox-message.html">
                    <i class="entypo-attach"></i>
                    <span class="title">View Message</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="forms-main.html">
            <i class="entypo-doc-text"></i>
            <span class="title">Forms</span>
        </a>
        <ul>
            <li>
                <a href="forms-main.html">
                    <span class="title">Basic Elements</span>
                </a>
            </li>
            <li>
                <a href="forms-advanced.html">
                    <span class="title">Advanced Plugins</span>
                </a>
            </li>
            <li>
                <a href="forms-wizard.html">
                    <span class="title">Form Wizard</span>
                </a>
            </li>
            <li>
                <a href="forms-validation.html">
                    <span class="title">Data Validation</span>
                </a>
            </li>
            <li>
                <a href="forms-masks.html">
                    <span class="title">Input Masks</span>
                </a>
            </li>
            <li>
                <a href="forms-sliders.html">
                    <span class="title">Sliders</span>
                </a>
            </li>
            <li>
                <a href="forms-file-upload.html">
                    <span class="title">File Upload</span>
                </a>
            </li>
            <li>
                <a href="forms-wysiwyg.html">
                    <span class="title">Editors</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="tables-main.html">
            <i class="entypo-window"></i>
            <span class="title">Tables</span>
        </a>
        <ul>
            <li>
                <a href="tables-main.html">
                    <span class="title">Basic Tables</span>
                </a>
            </li>
            <li>
                <a href="tables-datatable.html">
                    <span class="title">Data Tables</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="extra-icons.html">
            <i class="entypo-bag"></i>
            <span class="title">Extra</span>
            <span class="badge badge-info badge-roundless">New Items</span>
        </a>
        <ul>
            <li>
                <a href="extra-icons.html">
                    <span class="title">Icons</span>
                    <span class="badge badge-success">3</span>
                </a>
                <ul>
                    <li>
                        <a href="extra-icons.html">
                            <span class="title">Font Awesome</span>
                        </a>
                    </li>
                    <li>
                        <a href="extra-icons-entypo.html">
                            <span class="title">Entypo</span>
                        </a>
                    </li>
                    <li>
                        <a href="extra-icons-glyphicons.html">
                            <span class="title">Glyph Icons</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="extra-portlets.html">
                    <span class="title">Portlets</span>
                </a>
            </li>
            <li>
                <a href="extra-google-maps.html">
                    <span class="title">Maps</span>
                </a>
                <ul>
                    <li>
                        <a href="extra-google-maps.html">
                            <span class="title">Google Maps</span>
                        </a>
                    </li>
                    <li>
                        <a href="extra-vector-maps.html">
                            <span class="title">Vector Maps</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="extra-chat-api.html">
                    <span class="title">Chat API</span>
                </a>
            </li>
            <li>
                <a href="extra-calendar.html">
                    <span class="title">Calendar</span>
                </a>
            </li>
            <li>
                <a href="extra-calendar-2.html">
                    <span class="title">Calendar 2</span>
                    <span class="badge badge-secondary badge-roundless">New</span>
                </a>
            </li>
            <li>
                <a href="extra-notes.html">
                    <span class="title">Notes</span>
                </a>
            </li>
            <li>
                <a href="extra-lockscreen.html">
                    <span class="title">Lockscreen</span>
                </a>
            </li>
            <li>
                <a href="extra-login.html">
                    <span class="title">Login</span>
                </a>
            </li>
            <li>
                <a href="extra-register.html">
                    <span class="title">Register</span>
                </a>
            </li>
            <li>
                <a href="extra-invoice.html">
                    <span class="title">Invoice</span>
                </a>
            </li>
            <li>
                <a href="extra-gallery.html">
                    <span class="title">Gallery</span>
                </a>
                <ul>
                    <li>
                        <a href="extra-gallery.html">
                            <span class="title">Albums</span>
                        </a>
                    </li>
                    <li>
                        <a href="extra-gallery-single.html">
                            <span class="title">Single Album</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="extra-members.html">
                    <span class="title">Members</span>
                </a>
            </li>
            <li>
                <a href="extra-profile.html">
                    <span class="title">Profile</span>
                </a>
            </li>
            <li>
                <a href="extra-404.html">
                    <span class="title">404 Page</span>
                </a>
            </li>
            <li>
                <a href="extra-blank-page.html">
                    <span class="title">Blank Page</span>
                </a>
            </li>
            <li>
                <a href="extra-timeline.html">
                    <span class="title">Timeline</span>
                </a>
            </li>
            <li>
                <a href="extra-comments.html">
                    <span class="title">Comments</span>
                </a>
            </li>
            <li>
                <a href="extra-timeline-centered.html">
                    <span class="title">Timeline Centered</span>
                </a>
            </li>
            <li>
                <a href="extra-tocify.html">
                    <span class="title">Tocify</span>
                </a>
            </li>
            <li>
                <a href="ui-notifications.html">
                    <span class="title">Notifications</span>
                </a>
            </li>
            <li>
                <a href="extra-new-post.html">
                    <span class="title">New Post</span>
                </a>
            </li>
            <li>
                <a href="extra-settings.html">
                    <span class="title">Settings</span>
                </a>
            </li>
            <li>
                <a href="extra-scrollbox.html">
                    <span class="title">Scrollbox</span>
                </a>
            </li>
            <li>
                <a href="extra-image-crop.html">
                    <span class="title">Image Crop</span>
                </a>
            </li>
            <li>
                <a href="extra-search.html">
                    <span class="title">Search Page</span>
                </a>
            </li>
            <li>
                <a href="extra-language-selector.html">
                    <span class="title">Language Selector</span>
                </a>
            </li>
            <li>
                <a href="extra-nestable.html">
                    <span class="title">Nestable Lists</span>
                </a>
            </li>
            <li>
                <a href="extra-file-tree.html">
                    <span class="title">File Tree</span>
                </a>
            </li>
            <li>
                <a href="extra-load-progress.html">
                    <span class="title">Load Progress</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="charts.html">
            <i class="entypo-chart-bar"></i>
            <span class="title">Charts</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="entypo-flow-tree"></i>
            <span class="title">Menu Levels</span>
        </a>
        <ul>
            <li>
                <a href="#">
                    <i class="entypo-flow-line"></i>
                    <span class="title">Menu Level 1.1</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-flow-line"></i>
                    <span class="title">Menu Level 1.2</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-flow-line"></i>
                    <span class="title">Menu Level 1.3</span>
                </a>
                <ul>
                    <li>
                        <a href="#">
                            <i class="entypo-flow-parallel"></i>
                            <span class="title">Menu Level 2.1</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="entypo-flow-parallel"></i>
                            <span class="title">Menu Level 2.2</span>
                        </a>
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="entypo-flow-cascade"></i>
                                    <span class="title">Menu Level 3.1</span>
                                </a>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="entypo-flow-branch"></i>
                                            <span class="title">Menu Level 4.1</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="entypo-flow-cascade"></i>
                                    <span class="title">Menu Level 3.2</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="entypo-flow-parallel"></i>
                            <span class="title">Menu Level 2.3</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>*@
</ul>

<script>
    function RedirectToProperty() {
        var json = {}
        $.ajax({
            type: "GET",
            url: "/PropertyOperations/RediectToProperty",
            data: json,
            datatype: "json",
            success: function (data) {
                window.location.href = "http://www.gbshotels.com/"+data;
            }
        })
    }

</script>