@using Resources
@using MessageColumnCaptions

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="color: black; text-align:center">@MessageColumnCaptions.DynamicPageName("TB_HotelSearchParameter")</h1>

<div class="jumbotron" style="text-align: left; margin-bottom: 50px; border-radius: 8px; padding: 10px; font-size: 15px; font-weight: 100; line-height: 1.142857; padding-bottom: 25px; ">
   
    <div class="row" style="padding-top:10px;">
        <div class="col-md-12" style="padding: 8px;">

            <div class="col-md-3  col-sm-4" style="padding: 0px; display: flex;">
                @*<div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <label>@MessageColumnCaptions.Date (@Resources.FilterLowerLimitDescription)</label>
                </div>
                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <input type="text" id="datetimepickerStart" placeholder="@Resources.DateFieldDescription" style="width: 100%;" />
                </div>*@
                <label style="width: 230px; padding-top: 7px;">@MessageColumnCaptions.Date (@Resources.FilterLowerLimitDescription)</label>
                <input type="text" id="datetimepickerStart" placeholder="@Resources.DateFieldDescription" style="width: 150px" />
            </div>
            <div class="col-md-3 col-sm-4" style="padding: 0px; display: flex;margin-left:20px;">

                @*<div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <label>@MessageColumnCaptions.Date (@Resources.FilterUpperLimitDescription)</label>
                </div>
                <div class="col-md-6  col-sm-6" style="padding: 8px;">
                    <input type="text" id="datetimepickerEnd" placeholder="@Resources.DateFieldDescription" style="width: 100%;" />
                </div>*@
                <label style ="width: 170px; padding-top: 5px"> @MessageColumnCaptions.Date (@Resources.FilterUpperLimitDescription)</label>
                    <input type="text" id="datetimepickerEnd" placeholder="@Resources.DateFieldDescription" style="width: 150px" />

</div>          
            <div class="col-md-3  col-sm-3" style="padding-left:0px;">
                <button id="btnfilter" class="k-button btn btn-info" onclick="Filter()">@Resources.Filter</button>
                <button class="k-button btn btn-info" id="btnClearFilter" onclick="clearFiter()">@Resources.FilterRemove</button>
            </div>
        </div>
    </div>
 </div>

    @(Html.Kendo().Grid<gbsExtranetMVC.Models.Repositories.HotelSearchParameterExt>()
                        .Name("HotelSearchParameter_Grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .ServerOperation(true)
        .Model(model =>
        {
            model.Id(p => p.ID);
        })

                                         .Read(read => read.Action("_Read", "HotelSearchParameter"))

        )

        .Columns(columns =>
        {
            columns.Bound(p => p.ID).Width(60).Locked(true);
            columns.Bound(p => p.Culture).Title(MessageColumnCaptions.CultureHSP).Width(80);
            columns.Bound(p => p.UserCountry).Title(MessageColumnCaptions.UserCountryIDHSP).Width(100);
            columns.Bound(p => p.Country).Title(MessageColumnCaptions.CountryIDHSP).Width(100);
            columns.Bound(p => p.City).Title(MessageColumnCaptions.CityIDHSP).Width(100);
            columns.Bound(p => p.RegionID).Title(MessageColumnCaptions.RegionIDsHSP).Width(100);
            columns.Bound(p => p.RegionNames).Title(MessageColumnCaptions.RegionNamesHSP).Width(150);
            columns.Bound(p => p.CheckInDate).Title(MessageColumnCaptions.CheckInDateHSP).ClientTemplate("#= kendo.toString(CheckInDate,'dd/MM/yyyy') #").Width(150);
            columns.Bound(p => p.CheckOutDate).Title(MessageColumnCaptions.CheckOutDateHSP).ClientTemplate("#= kendo.toString(CheckOutDate,'dd/MM/yyyy') #").Width(150);
            columns.Bound(p => p.RoomCount).Title(MessageColumnCaptions.RoomCountHSP).Width(100);
            columns.Bound(p => p.GuestCount).Title(MessageColumnCaptions.GuestCountHSP).Width(100);
            columns.Bound(p => p.LowerUSDPrice).Title(MessageColumnCaptions.LowerUSDPriceHSP).Width(100);
            columns.Bound(p => p.UpperUSDPrice).Title(MessageColumnCaptions.UpperUSDPriceHSP).Width(100);
            columns.Bound(p => p.Date).Title(MessageColumnCaptions.DateHSP).ClientTemplate("#= kendo.toString(Date,'dd/MM/yyyy HH:mm:ss') #").Width(150);


        })
        .ToolBar(tool =>
        {

            tool.Excel();
        })
                .Scrollable(scrollable => scrollable.Height(430))
                .Pageable(p => p.Refresh(true))
                .Sortable()
                .Navigatable()
                .Groupable()
                .Scrollable(scr => scr.Height(370))
                .Filterable()
                .Excel(excel => excel
                    .FileName("HotelSearchParameter.xlsx")
                .Filterable(true))

    )

    <script id="AddNewRecord">

        function clearFiter() {
            $("form.k-filter-menu button[type='reset']").trigger("click");
        }
    </script>

<script>
    $("#btnfilter").click(function () {
        // alert("dfgd")
        $filter = new Array();
        $StartDate = $("#datetimepickerStart").data("kendoDatePicker").value();
      //  alert($StartDate)
        $EndDate = $("#datetimepickerEnd").data("kendoDatePicker").value();

        if ($StartDate) {
            $filter.push({ field: "Date", operator: "IsGreaterThanOrEqualTo", value: $StartDate });
        }
        if ($EndDate) {
            $filter.push({ field: "Date", operator: "IsLessThanOrEqualTo", value: $EndDate });
        }
        var grid = $("#HotelSearchParameter_Grid").data("kendoGrid");
        grid.dataSource.filter($filter);
    });

    $(document).ready(function () {
        $("#datetimepickerStart").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });
        $("#datetimepickerEnd").kendoDatePicker({
            animation: {
                close: {
                    effects: "zoom:out",
                    duration: 300
                }
            }
        });
    });

    function clearFiter() {
        $("form.k-filter-menu button[type='reset']").trigger("click");
    }

    $("#btnClearFilter").click(function (e) {
        e.preventDefault();
        var datasource = $("#HotelSearchParameter_Grid").data("kendoGrid").dataSource;       
        datasource.filter([]);            
        //$("#datetimepickerStart").val('');
        //$("#datetimepickerEnd").val('');     
        $("#datetimepickerStart").data("kendoDatePicker").value(null);
        $("#datetimepickerEnd").data("kendoDatePicker").value(null);
    });
</script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63530100-1', 'auto');
    ga('send', 'pageview');

</script>
